body {
    font-family: arial, sans-serif;
    color: #ccc;
    margin:0;
    padding: 0;

    /*background-color: #ed1d24;*/
}

input[type=file]
{
    width:0px;
    height:0px;
    visibility: hidden;
}

.dnk-gallery-loader {
    min-height:355px !important;
}

#maincontent{
    margin: 0 auto;
    width: 815px;
    height: 907px;
    background: url("../images/bg.jpg") transparent no-repeat;
    /*background-color: #ed1d24;*/

}
.top-header{
    width: 750px;
    height: 67px;
    margin: 0 auto;
    position: relative;
}
.top-header .left a{
    position: absolute;
    left:15px;
    top:5px;
}

.top-header .right a{
    position: absolute;
    right:15px;
    top:5px;
}

#toTop {
    position: fixed;
    bottom: 30px;
    right: 5px;
    display: none;
    width: 35%;
    height:auto;
}

#toTop img{
    width: 100%;
    height:auto;
}

.wrapper-shadow {
    width: 773px;
    height: 840px;
    margin:0 auto;
    background: url("../images/bg_content_shadow.png") no-repeat;
}
#wrapper{
    position: relative;
    width: 756px;
    max-width: 1300px;
    min-height: 775px;
    background: url("../images/bg_content.png") transparent repeat-y;
    margin: 0 auto;
    padding: 25px 17px;

}

.popup_div{
    position: absolute;
    left: 10px;
}
#gallery-wrapper {
    width: 535px;
    height: 738px;
    float: left;
    position:relative;
    /*margin: 0 auto;*/
}
#sidemenu-wrapper {
    width: 186px;
    height: 350px;
    background: url("../images/sidebutton_shadow.png") no-repeat 5px 5px;
    float: right;
    margin-right: 0px;
    margin-top: 5px;
    background-size: contain;
}

#sidemenu-wrapper.five {
    width: 186px;
    height: 350px;
    background: url("../images/sidebutton_shadow-5.png") no-repeat 5px 5px;
    float: right;
    margin-right: 0px;
    margin-top: 5px;
    background-size: contain;
}
.sidemenu
{
    width:90%;
    list-style-type: none;
    margin: 5px auto;
}
.sidemenu div
{
    width:168px;
    height:56px;
    margin-top: 0px;
    -webkit-background-size:contain !important;
    background-size: contain !important;
    position: relative;
}

.sidemenu a.default
{
    position: absolute;
    top: 4px;
    right: 3px;

}

.sidemenu a.rollover{
    position: absolute;
    top: 30px;
    right: 3px;
}

.sidemenu span{
    width: 168px;
    height: 56px;
    display: block;
    -webkit-background-size:contain !important;
    background-size: contain !important;
}

.sidemenu img{
    margin: 0 auto;
    width: 100%;
    visibility: hidden !important;
}

.sidemenu .sidebutton_top{

    background: url("../images/sidebutton_top_default.png") no-repeat;

}
.sidemenu .sidebutton_top.active,
.sidemenu .sidebutton_top:hover{
    background: url("../images/sidebutton_top_selected.png") no-repeat;
}

.sidemenu .sidebutton_middle{
    background: url("../images/sidebutton_middle_default.png") no-repeat;
}
.sidemenu .sidebutton_middle.active,
.sidemenu .sidebutton_middle:hover{
    background: url("../images/sidebutton_middle_selected.png") no-repeat;
}

.sidemenu .sidebutton_bottom{
    background: url("../images/sidebutton_bottom_default.png") no-repeat;
}
.sidemenu .sidebutton_bottom.active,
.sidemenu .sidebutton_bottom:hover{
    background: url("../images/sidebutton_bottom_selected.png") no-repeat;
}

.sidemenu .sidebutton_top .sidebutton_1{
    background: url("../images/sidebutton_1.png") no-repeat;
}
.sidemenu .sidebutton_top.active .sidebutton_1,
.sidemenu .sidebutton_top:hover .sidebutton_1{
    background: url("../images/sidebutton_1_selected.png") no-repeat;
}
.sidemenu .sidebutton_middle .sidebutton_2{
    background: url("../images/sidebutton_2.png") no-repeat;
}
.sidemenu .sidebutton_middle.active .sidebutton_2,
.sidemenu .sidebutton_middle:hover .sidebutton_2{
    background: url("../images/sidebutton_2_selected.png") no-repeat;
}

.sidemenu .sidebutton_middle .sidebutton_3{
    background: url("../images/sidebutton_3.png") no-repeat;
}
.sidemenu .sidebutton_middle.active .sidebutton_3,
.sidemenu .sidebutton_middle:hover .sidebutton_3{
    background: url("../images/sidebutton_3_selected.png") no-repeat;
}
.sidemenu .sidebutton_middle .sidebutton_4{
    background: url("../images/sidebutton_4.png") no-repeat;
}
.sidemenu .sidebutton_middle.active .sidebutton_4,
.sidemenu .sidebutton_middle:hover .sidebutton_4{
    background: url("../images/sidebutton_4_selected.png") no-repeat;
}
.sidemenu .sidebutton_middle .sidebutton_5,
.sidemenu .sidebutton_bottom .sidebutton_5{
    background: url("../images/sidebutton_5.png") no-repeat;
}
.sidemenu .sidebutton_middle.active .sidebutton_5,
.sidemenu .sidebutton_middle:hover .sidebutton_5,
.sidemenu .sidebutton_bottom.active .sidebutton_5,
.sidemenu .sidebutton_bottom:hover .sidebutton_5{
    background: url("../images/sidebutton_5_selected.png") no-repeat;
}

.sidemenu .sidebutton_bottom .sidebutton_6{
    background: url("../images/sidebutton_6.png") no-repeat;
}
.sidemenu .sidebutton_bottom.active .sidebutton_6,
.sidemenu .sidebutton_bottom:hover .sidebutton_6{
    background: url("../images/sidebutton_6_selected.png") no-repeat;
}

.bottom-nav{
    width: 645px;
    height: 55px;
    margin: 0 auto;
    /*margin-top: 3px;*/
    padding: 6px 6px;
    background: url("../images/bottom_nav_shadow.png") no-repeat;
}
.bottom-nav .bottom-links
{
    /*width: 627px;*/
    height: 40px;
}

.bottom-links ul{
    list-style-type: none;
    overflow: auto;
    padding:0px;
}
.bottom-links li{
    float: left;
    margin-right: 6px;
}


.right{
    float: right;
}
.left{
    float: left;
}


/*admin */

.admin-coupon{
    position: relative;
}
.overimg{
    float: left;
    z-index: -1;
}
.overimg-edit{
    z-index: 1;
    position: absolute;
    text-align: right;
    top: 50px;
    left: 23px;
}

.overimg-delete{
    z-index: 1;
    position: absolute;
    text-align: right;
    top: 50px;
    left: 90px;
}
.overimg-order{
    z-index: 1;
    position: absolute;
    text-align: right;
    top: 100px;
    left: 20px;
    color: black;
}
.overimg-order label{
    width: 50px;
    text-align: left;
}
.overimg-order select{
    width: 80px;
}
.fancybox-buttons{
    height: 44px;
}

.fancybox-custom{
    margin: 10px;
    float: right;
}

/*.fancybox-image, .fancybox-iframe {*/
    /*display: block;*/
    /*width: 75%;*/
    /*height: 75%;*/
/*}*/

@media screen and (max-width: 480px) {

    body{
        background-color: #ed1d24 !important;
    }
    div {
        text-align: center;
    }

    #maincontent {
        margin: 0 auto;
        width: 100%;
        height: auto;
        /*min-height: 1183px;*/
        background: url("../images/mobile_bg.jpg") #EC1D25 no-repeat;
        background-size: contain;
    }

    .top-header {
        width: auto;
        height: auto;
        margin: 0 auto;
        padding: 3%;
    }

    .wrapper-shadow {
        width: 90%;
        height: auto;
        margin: 0 auto;
        background: transparent url("../images/mobile_bg_content_shadow.png") no-repeat center;
        background-size: contain;
        padding:1%;
    }

    #wrapper {
        width: 95%;
        height: auto;
        max-width: 1300px;
        min-height: 417px;
        background: url("../images/mobile_bg_content.png") transparent repeat-y;
        margin: 0 auto;
        padding: 15px;
        display: inline-block;
    }

    #gallery-wrapper {
        width: 100%;
        height: auto;
        display: block;
        /*margin: 0 auto;*/
    }

    #sidemenu-wrapper {
        width: 100%;
        height: auto;
        display: inline-block;
        background: url("../images/sidebutton_shadow.png") no-repeat 6px 6px;
        margin-right: 0px;
        margin-top: 5px;
        background-size: contain;
        padding: 3.5% 5px;
    }

    .sidemenu {
        width: 90%;
        margin: 3% auto;
    }

    .sidemenu div {
        width: 100%;
        height:auto;
        max-width:374px;
        max-height:125px;
        margin-top: 5px !important;
        background-size: cover !important;
    }

    .sidemenu span {
        width: 100%;
        height:auto;
        max-width:374px;
        max-height:125px;
        display: block;
    }

    .sidemenu span img{
        width: 100%;
        visibility: hidden;
    }

    .bottom-nav {
        width: 97%;
        height: auto;
        margin: 0 auto;
        margin-top: 10px;
        padding: 3px 3px;
        background: url("../images/mobile_bottom_nav_shadow.png") no-repeat 1px 3px;
        background-size: contain;

    }

    .bottom-nav .bottom-links {
        /*width: 627px;*/
        width: 100%;
        height: auto;
    }

    .bottom-links ul {
        list-style-type: none;
        overflow: hidden;
        padding: 0px;
    }

    .bottom-links li {
        /*float: right;*/
        width: 50%;
        margin: 2px 0px;
        padding: 0;
    }


    .bottom-links li img{
        margin: 3px 4px;
        width: 97%;
        height: 97%;
    }

    /*gallery*/

}