/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

body
{
	font-family:"Source Sans Pro", sans-serif;
}
.container{
    width: 100%;
}
.row{
    margin: auto;
}
p
{
	font-size:18px;
	line-height:30px;
	color:#333;
	margin-bottom:30px;
}
p strong
{
	font-size:19px;
	color:#000;
}

.dontdim
{
/*	z-index:99999 !important; */
}

.videoWrapper
{
	margin-bottom:30px;
}

.ctabtn
{
	background:#ff9900;
	display:inline-block;
	padding:10px 25px;
	color:#fff;
	font-size:22px;
	line-height:36px;
	text-transform:uppercase;
	text-decoration:none;
	width:auto;
	border-radius:3px;
	margin-top:0px;
	margin-bottom:1px;
}
.ctabtn:hover
{
	margin-top:1px;
	margin-bottom:0px;
/*	background:#485f14; */
	box-shadow:
		inset 0 1px rgba(255,255,255,0.8),
		inset 0 20px 40px rgba(255,255,255,0.3);
}

.withdeco
{
	background:url(../images/deco1.png) center center repeat-x;
}

.fadeInBlock
{
	opacity:0;
}

#cont-top
{
	background:#2d2d2d url(../images/top-bg-bluedark.png) no-repeat center center;
	background-size:cover;
	background-attachment:fixed;
	padding-top:10px;
	padding-bottom:30px;
}

#row1-top .sixcol
{
	text-align:center;
}
#row1-top .last
{
	text-align:center;
}

#row1-top .last a
{
	color:#fff;
}

#row2-top
{
	text-align:center;
	padding-top:50px;
}

#row2-top h1
{
	color:#fff;
	font-weight:900;
	font-size:58px;
	line-height:60px;
	text-transform:uppercase;
	margin-bottom:30px;
}
#row2-top h1 em
{
	display:block;
	font-style:normal;
	font-size:65px;
}

#row2-top h2
{
	color:#fff;
	font-weight:400;
	font-size:24px;
	line-height:36px;
	margin-bottom:30px;
}

#videotopcontainer
{
	text-align:center;
	width: 100%;
}

#optintopcontainer
{
	background:#e8b558;
	border-radius:3px;
	padding:0px 10px;
	box-sizing:border-box;
}

#optintopcontainer h3
{
	color:#ff9900;
	font-weight:900;
	font-size:21px;
	line-height:30px;
	margin-top:30px;
	margin-bottom:30px;
	text-align:center;
	text-transform:uppercase;
}

#cont-asseenon
{
	padding-top:40px;
	padding-bottom:0px;
	background:#533616 url(../images/bg-darkpaper.png);
}

#row1-asseenon
{
	background:url(../images/giani-pic1.png) no-repeat;
	background-position:calc(50% - 200px) bottom;
}

#row1-asseenon .sixcol
{
	text-align:right;
}
#row1-asseenon .last
{
	text-align:left;
	padding-top:30px;
	padding-bottom:25px;
}

#cont-asseenon h6
{
	color:#fff;
	font-size:48px;
	font-weight:900;
	text-transform:uppercase;
	margin-bottom:15px;
}

#cont-outstandinglife
{
	padding-top:60px;
	padding-bottom:60px;
}

#row1-outstandinglife
{
	text-align:center;
}

#row1-outstandinglife h2
{
	text-align:center;
	text-transform:uppercase;
	margin-bottom:90px;
}

#row2-outstandinglife img
{
	box-sizing:border-box;
	padding:7px;
	border:1px #e8b558 solid;
}

#os-span1
{
	display:block;
	color:#000;
	font-size:58px;
	font-weight:900;
}

#os-span2
{
	display:block;
	color:#ff9900;
	font-size:58px;
	font-weight:900;
	margin-bottom:30px;
}

#os-span3
{
	display:block;
	color:#ff9900;
	font-size:40px;
	font-weight:900;
}
#os-span3 em
{
	font-size:50px;
}

#os-span4
{
	display:block;
	color:#000;
	font-size:35px;
	font-weight:700;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#cont-pain
{
	padding-top:60px;
	padding-bottom:60px;
	background:url(../images/mid-bg-img.png) right top no-repeat;
	background-attachment:fixed;
	background-size:cover;
}

#cont-pain p
{
	color:#dddddd;
}
#cont-pain p strong
{
	color:#e8b558;
	font-weight:600;
}

#cont-pain h6
{
	color:#e8b558;
	font-size:48px;
	font-weight:900;
	text-transform:uppercase;
	margin-bottom:30px;
}


#cont-mentor
{
	padding-top:60px;
	padding-bottom:60px;
}

#row1-mentor h2
{
	color:#e8b558;
	font-weight:900;
	font-size:58px;
	line-height:60px;
	text-transform:uppercase;
	margin-bottom:30px;
	text-align:center;
}
#row1-mentor h2 em
{
	color:#777;
	font-style:normal;
}

#row3-mentor
{
	text-align:center;
}

#row3-mentor h3
{
	font-weight:300;
	font-size:26px;
	line-height:36px;
	margin-top:90px;
	margin-bottom:90px;
}

#row3-mentor h2
{
	font-size:35px;
	font-weight:900;
	color:#000;
	text-transform:uppercase;
	margin-top:90px;
	margin-bottom:90px;
}
#row3-mentor h2 strong
{
	display:block;
	font-size:35px;
	font-weight:900;
	color:#ff9900;
	text-transform:uppercase;
}

#row5-mentor
{
	text-align:center;
	margin-top:60px;
	margin-bottom:60px;
}
.ddown {
	-webkit-box-shadow: -5px 5px 15px -3px rgba(0,0,0,0.6);
-moz-box-shadow: -5px 5px 15px -3px rgba(0,0,0,0.6);
box-shadow: -5px 5px 15px -3px rgba(0,0,0,0.6);
}
#cont-testimonials
{
	padding-top:90px;
	padding-bottom:90px;
	background:#533616 url(../images/bg-darkpaper.png);
}

#row1-testimonials h2
{
	color:#fff;
	text-align:center;
	font-size:58px;
	line-height:60px;
	font-weight:900;
	text-transform:uppercase;
	margin-bottom:90px;
}

#cont-testimonials .tencol
{
	border:#e8b558 double 4px;
	border-radius:3px;
	box-sizing:border-box;
	padding:60px 30px 30px 30px;
	margin-bottom:60px;
	background:url(../images/deco1.png) center calc(100% - 10px) no-repeat;
}

#cont-testimonials .tencol p
{
	color:#ddd;
}

#cont-testimonials p.testiby
{
	padding:55px 0px 55px 190px;
	font-size:20px;
	line-height:36px;
	font-weight:600;
	text-transform:uppercase;
}

#row2-testimonials p.testiby
{
	background:url(../images/edric-zheng.png) left center no-repeat;
}
#row3-testimonials p.testiby
{
	background:url(../images/rafel-mayol.png) left center no-repeat;
}
#row4-testimonials p.testiby
{
	background:url(../images/pat-wenger.png) left center no-repeat;
}
#row5-testimonials p.testiby
{
	background:url(../images/armando-rendon.png) left center no-repeat;
}

#cont-finalcta
{
	padding-top:50px;
	padding-bottom:40px;
	text-align:center;
}

#cont-footer
{
    padding-top: 60px;
	padding-bottom:10px;
	text-align:center;
}

#cont-footer p, #cont-footer a
{
	font-size:14px;
	color:#777;
	text-decoration:none;
}
#cont-footer a:hover
{
	text-decoration:underline;
}

#cont-form
{
	padding-top:10px;
	padding-bottom:120px;
	background:#533616 url(../images/bg-darkpaper.png);
}

#row1-form
{
	padding-top:120px;
	text-align:center;
	background:url(../images/logo.png) top center no-repeat;
}

#row1-form h1
{
	color:#fff;
	font-weight:900;
	font-size:50px;
	line-height:60px;
	text-transform:uppercase;
	margin-bottom:30px;
	padding-bottom:40px;
	background:url(../images/deco1.png) center bottom no-repeat;
}
.dv-sp-1{
    margin: 0 15% 40px;
    text-align: left;
}
.dv-sp-1 p{
    margin: 10px 0px;
    padding-left: 10px;
}
.dv-sp-1 h2{
    text-align: center;
    margin-bottom: 40px;
}

.benefits .colored{
    background-color: #F2F7FB;
}
.benefits div{
    padding: 10px;
    text-align: left;   
}
div.ben-title{
    background-color:#e8b558;
}
.ben-title span{
    font-weight: bold;
    font-size: 22px;
    color: white;
    text-align: center;
}
.featurename{
    display: inline-block;
    width: 70%;
}
.featurevalue, .featurename{
    font-size: 15px;
    padding-left: 10px;
}
.deliver img{
    max-width: 200px;
    box-shadow: 0 0 3px #333;
}
.deliver{
    text-align: left;
    padding: 50px 0px;
}
.delivercolored{
    background-color: #2D3653;
}
.delivercolored h1, .delivercolored h2, .delivercolored p{
    color: #ddd;
}
.row-tog{
    padding: 50px 0px;
}
.row-tog h4{
    font-size: 18px;
    padding: 15px 20px 10px 5px;
    cursor: pointer;
    border-bottom: 1px solid #888;
    font-weight: bold;
    color: #ddd;
}
.row-tog span{
    margin-left: 15px;
    font-size: 16px;
    color: #ddd;
}
.row-tog .vc_toggle_icon{
    float: right;
}
.video-testi .video-wrap iframe{
    width: 100%;
    height: 300px;
}
.video-testi{
    background-color: aliceblue;
    padding: 50px 0;
}
.video-testi h1{
    font-weight: bold;
    text-align: center;
    font-size: 40px;
}
/* ===================================================
   Tablet Landscape Size
=================================================== */
@media only screen and (max-width:1024px)
{
	#cont-pain
	{
		background:url(../images/bg-plane.png) center top no-repeat;
	}
} /* End max-width:1024px */

/* Just to detect where to turn the lights off automatically */
@media only screen and (max-width:1023px)
{
	#mobiledetector { display: none; }
	#row1-top .last
	{
		display:none;
	}
}

@media only screen and (max-width:961px)
{
	#os-span1
	{
		font-size:58px;
		line-height:60px;
	}
	#os-span2
	{
		font-size:47px;
		line-height:60px;
	}
	#os-span3
	{
		font-size:33px;
		line-height:50px;
	}
	#os-span3 em
	{
		font-size:45px;
	}
	#os-span4
	{
		font-size:35px;
		line-height:35px;
	}
	#cont-pain h6
	{
		font-size:43px;
	}
	#row3-mentor h2
	{
		font-size:28px;
		line-height:35px;
	}
	#row3-mentor h2 strong
	{
		font-size:28px;
	}
} /* End max-width:961px */



/*
===================================================
 Mobile Landscape Size and Tablet Portrait Size
===================================================
*/
@media only screen and (max-width:801px)
{
	#row2-top h1
	{
		font-size:53px;
		line-height:60px;
	}
	#row3-top .sevencol, #row3-top .fivecol, #cont-pain .eightcol
	{
		width: auto;
		float: none;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 20px;
		padding-right: 20px;
	}
	#cont-pain .fourcol
	{
		display:none;
	}
} /* End max-width:768px */

@media only screen and (max-width:767px)
{
	#row1-top .last
	{
		text-align:left;
	}
	#row2-top h1
	{
		font-size:38px;
		line-height:60px;
	}
	#row2-top h1 em
	{
		font-size:55px;
	}
	#row2-top h2
	{
		font-size:26px;
		line-height:36px;
	}
	#row1-asseenon
	{
		background:url(../images/giani-pic1.png) no-repeat;
		background-position:left bottom;
		padding-bottom:290px;
	}
	#row1-asseenon .last
	{
		text-align:left;
		padding-top:0px;
		padding-bottom:120px;
	}
	#os-span1
	{
		font-size:46px;
		line-height:50px;
	}
	#cont-pain h6
	{
		font-size:42px;
	}
	#row1-top .sixcol{
        text-align: center;
    }
} /* End max-width:767px */

@media only screen and (max-width:569px)
{
	#row2-top h1
	{
		font-size:36px;
		line-height:45px;
	}
	#row2-top h1 em
	{
		line-height:55px;
	}
	#row2-top h2
	{
		font-size:25px;
	}
	#row1-asseenon
	{
		padding-bottom:20px;
	}
	#os-span1
	{
		font-size:42px;
		line-height:50px;
	}
	#os-span2
	{
		font-size:47px;
		line-height:50px;
	}
	#os-span3
	{
		font-size:33px;
		line-height:40px;
		margin-bottom:10px;
	}
	#os-span3 em
	{
		font-size:45px;
	}
	#os-span4
	{
		font-size:35px;
		line-height:35px;
	}
	#cont-pain
	{
		padding-top:30px;
		padding-bottom:30px;
		background:url(../images/bg-plane.png) right top no-repeat;
		background-attachment:fixed;
		background-size:cover;
	}
	#cont-mentor {
    padding-top: 30px;
    padding-bottom: 30px;
}
#row3-mentor h3 {

    margin-top: 30px;
    margin-bottom: 30px;
}
#cont-outstandinglife {
     padding-top: 30px !important;
    padding-bottom: 30px !important;
}
#row5-mentor {
    margin-top: 30px;
    margin-bottom: 30px;
}
#cont-testimonials {
   padding-top: 30px;
    padding-bottom: 30px;
}
#row1-testimonials h2 {
   
    font-size: 36px;
    line-height: 38px;
    margin-bottom: 30px;
}
#cont-finalcta {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
#row1-outstandinglife h2 {
    margin-bottom: 60px;
}
#cont-pain {
     padding-top: 30px !important;
    padding-bottom: 30px !important;
}
	#cont-pain h6
	{
		font-size:37px;
	}
	#row1-mentor h2
	{
		font-size:50px;
		line-height:55px;
	}
} /* End max-width:569px */

@media only screen and (max-width:480px)
{
	#row2-top h1
	{
		font-size:31px;
		line-height:45px;
	}
	#row2-top h1 em
	{
		font-size:48px;
		line-height:50px;
	}
	#row1-asseenon
	{
		background:url(../images/giani-pic1.png) no-repeat;
		background-position:left bottom;
		padding-bottom:290px;
	}
	#row1-asseenon .last
	{
		text-align:left;
		padding-top:0px;
		padding-bottom:120px;
	}
	#os-span1
	{
		font-size:36px;
		line-height:50px;
	}
	#os-span2
	{
		font-size:45px;
		line-height:50px;
	}
	#os-span3
	{
		font-size:33px;
		line-height:40px;
		margin-bottom:10px;
	}
	#os-span3 em
	{
		font-size:45px;
	}
	#os-span4
	{
		font-size:35px;
		line-height:35px;
	}
	#cont-pain h6
	{
		font-size:31px;
	}
	#row1-mentor h2
	{
		font-size:45px;
		line-height:50px;
	}
} /* End max-width:480px */



/*
=================================================== 
Mobile Portrait Size
===================================================
*/
@media only screen and (max-width:479px)
{
	#row2-top h1
	{
		font-size:50px;
		line-height:45px;
		margin-bottom:20px;
	}
	#row2-top h1 em
	{
		margin-top:20px;
		font-size:55px;
		line-height:60px;
	}
	#os-span1
	{
		font-size:31px;
		line-height:50px;
	}
	#os-span2
	{
		font-size:39px;
		line-height:40px;
	}
	#os-span3
	{
		font-size:33px;
		line-height:40px;
		margin-bottom:10px;
	}
	#os-span3 em
	{
		font-size:45px;
	}
	#os-span4
	{
		font-size:35px;
		line-height:35px;
	}
	#cont-pain h6
	{
		font-size:38px;
		line-height:40px;
	}
	#row1-mentor h2
	{
		font-size:38px;
		line-height:45px;
	}
} /* End max-width:479px */

@media only screen and (max-width:380px)
{
	#row2-top h1 em
	{
		margin-top:20px;
		font-size:42px;
		line-height:50px;
	}
	#row1-asseenon
	{
		background:url(../images/giani-pic1.png) no-repeat;
		background-position:left bottom;
		padding-bottom:20px;
	}
	#row1-asseenon .last
	{
		text-align:left;
		padding-top:0px;
		padding-bottom:120px;
	}
	#row1-asseenon .last
	{
		text-align:left;
		padding-top:0px;
		padding-bottom:350px;
	}
} /* End max-width:321px */
.modal-open {
    padding-right: 0 !important;
}

/* mobile menu */
#topnav .icon {
  display: none;
}
@media screen and (max-width: 600px) {
  #topnav a {display: none;}
  #topnav a.icon {
    float: right;
    display: block;
  }
  #topnav.menu-area{
    line-height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 20px;
  }
}

@media screen and (max-width: 600px) {
    .menu-button{
        margin-top: 50px;
    }
  #topnav.menu-area.responsive{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    line-height: 40px;
    background-color: #444;
    padding: 20px 20px 20px 40px;
  }
  #topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 10px;
  }
  #topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}
